* {
  box-sizing: border-box;
  font-family: monospace;
}

body {
  z-index: -1;
  background-color: #0052ff;
  height: 100vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    position: relative;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      }
    .buttonOne, .buttonTwo, .buttonThree {
      border-style: none;
      width: 60px;
      height: 20px;
      position: absolute;
      background-color: transparent;
      span{
        padding-top: 1px;
        font-size: 15px;
        position: relative;
        z-index: 50;
        background-color: transparent;
        width: 60px;
        height: 21px;
        left: -7px;
        top: -3px;
        display: block;
        transform: rotate(-90deg);
      }
    }
    .one {
      z-index: 100;
      left: -128px;
      bottom: -217px;
      transform: rotate(90deg);
    }
    .two {
      left: -50px;
      bottom: -236px;
      transform: rotate(90deg);
    }
    .three {
      left: 29px;
      bottom: -217px;
      transform: rotate(90deg);
    }
  }
  .giphy {
    position: absolute;
    transform: translate(-50%, -50%);
    left: -15px;
    bottom: -520px;
  }
  .output-holder {
    position: absolute;
    background-color: red;
    width: 500px;
    height: 80px;
    transform: translate(-50%, -50%);
    left: -15px;
    bottom: -430px;
    display: flex;
    justify-content: space-around;
    .outputs {
      text-align: center;
      background-color: pink;
      margin: 10px;
      padding: 5px 10px;
      span {
        font-size: 30px;
      }
    }
  }
  .dead-screen {
    display: none;
    position: absolute;
    bottom: -59px;
    left: -20px;
    img {
      width: 218px;
      height: 199px;
    }
  }
}
